Repository scylladb/seastar, pull requests merged in 2024-10, with the labels that each got.

#2463 build: add compiler and C++ standard compatibility checks
  cmake/SeastarConfig.cmake.in
Labels: build

#2464 Add new http response codes
  include/seastar/http/reply.hh
  src/http/reply.cc
Labels: http

#2468 http: Add non-owning `make_request` to http client
  include/seastar/http/client.hh
  src/http/client.cc
Labels: http

#2499 http status classification
  include/seastar/http/reply.hh
  tests/unit/httpd_test.cc
Labels: enhancement, http
